<footer class="section pb-0">
  <div class="container">
    <div class="row border-bottom pb-5 justify-content-between">
      <div class="col-12 text-center section-sm">
        <a href="{{ site.BaseURL }}"><img src="{{ site.Params.logo | absURL }}" class="img-fluid"
            alt="{{ site.Title }}"></a>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5 class="font-weight-medium mb-4">Important Links</h5>
        <ul class="list-unstyled">
          {{ range site.Menus.footer }}
          <li class="mb-3"><a class="text-color" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-md-4 col-sm-6">
        <h5 class="font-weight-medium mb-4">Connect With Us</h5>
        <ul class="list-unstyled mb-5">
          <li class="mb-3"><a class="text-color" href="tel:{{ site.Params.mobile }}"><i
                class="ti-mobile text-primary mr-2"></i>
              {{ site.Params.mobile }}</a></li>
          <li class="mb-3"><a class="text-color" href="mailto:{{ site.Params.email }}"><i
                class="ti-email text-primary mr-2"></i> {{ site.Params.email }}</a></li>
          <li class="mb-3"><i class="ti-location-pin text-primary mr-2"></i> {{ site.Params.location }}
          </li>
        </ul>
        <!-- Social Icons -->
        <ul class="list-inline">
          {{ range site.Params.social }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }} text-primary"></i></a></li>
          {{ end }}
        </ul>
      </div>      
      <div class="col-lg-4 col-md-5">
        <h5 class="font-weight-medium mb-4">Login As</h5>
        <p style="color: #FF0000"><b>Do not select more than one member_id from a single incognito window. Always reopen the incognito window when you select a different member_id.</b></p>
        <form action="{{ site.Params.contact.formAction }}" method="POST" id="actas">
        <select id="member_id" class="form-control mb-2">
          <option value="">Please select your member_id</option>
          <option value="8">8: TATIANA HODGE</option>
          <option value="17">17: MIRIAM VAUGHN</option>
          <option value="29">29: SYLVIA DOUGHERTY</option>
          <option value="49">49: HUNG SCOTT</option>
          <option value="59">59: RAHUL FLOWERS</option>
          <option value="67">67: NICOLE WALTER</option>
          <option value="98">98: KHADIJA LOPEZ</option>
          <option value="117">117: CHRISTIAN DAVID</option>
          <option value="126">126: SUNITA BOYD</option>
          <option value="131">131: GERARDO ANDRADE</option>
          <option value="135">135: THU CURRY</option>
          <option value="151">151: KYAW BOYD</option>
          <option value="160">160: WEI THOMPSON</option>
          <option value="169">169: RICARDO McCORMICK</option>
          <option value="182">182: MIKE ESPARZA</option>
          <option value="223">223: JIANZHONG GOLDEN</option>
          <option value="248">248: YUPING JOHNSON</option>
          <option value="254">254: MANUELA SINGLETON</option>
          <option value="256">256: NIKITA CHUNG</option>
          <option value="257">257: CHRISTINA FRANCIS</option>
          <option value="260">260: DINA SCHWARTZ</option>
          <option value="307">307: MAURICE SEXTON</option>
          <option value="389">389: JEANNE CARLSON</option>
          <option value="395">395: YUMEI MURILLO</option>
          <option value="421">421: PAMELA FLOYD</option>
          <option value="432">432: XIANG WILEY</option>
          <option value="470">470: RAMA TAPIA</option>
          <option value="524">524: URMILA MERRITT</option>
          <option value="529">529: XUEMEI RODRIGUEZ</option>
          <option value="543">543: YAN HARRIS</option>
          <option value="548">548: JOY ROJAS</option>
          <option value="553">553: MAHDI PETERSEN</option>
          <option value="562">562: ALICE PITTS</option>
          <option value="624">624: VICENTE HEBERT</option>
          <option value="648">648: NADA MANNING</option>
          <option value="675">675: MUNNI CAIN</option>
          <option value="678">678: EVA HODGE</option>
          <option value="686">686: MARCELO MORROW</option>
          <option value="694">694: SALVADOR JUAREZ</option>
          <option value="705">705: MAMADOU MORRISON</option>
          <option value="715">715: WEI BAUTISTA</option>
          <option value="734">734: SANGITA REYNOLDS</option>
          <option value="735">735: ZHIQIANG SUAREZ</option>
          <option value="749">749: MERCEDES HARTMAN</option>
          <option value="760">760: SAMUEL HAMMOND</option>
          <option value="774">774: YUPING STAFFORD</option>
          <option value="782">782: UMESH NUÑEZ</option>
          <option value="784">784: WILLIAM GOMEZ</option>
          <option value="798">798: ZHIPING BANKS</option>
          <option value="816">816: TIAN CASE</option>
          <option value="842">842: KHADIJA WARNER</option>
          <option value="851">851: LEILA PRATT</option>
          <option value="869">869: XIAOXIA YODER</option>
          <option value="879">879: CHAO GORDON</option>
          <option value="889">889: YANYAN SCHNEIDER</option>
          <option value="1084">1084: SITA MARTINEZ</option>
          <option value="1095">1095: STEVEN ZUNIGA</option>
          <option value="1111">1111: CHRISTOPHE BAILEY</option>
          <option value="1121">1121: ROY ASHLEY</option>
          <option value="1138">1138: MOHSEN WALTON</option>
          <option value="1141">1141: CECILIA ROBLES</option>
          <option value="1174">1174: VALERIE CERVANTES</option>
          <option value="1188">1188: JASON McCULLOUGH</option>
          <option value="1198">1198: HAIBO MOLINA</option>
          <option value="1210">1210: MADINA CANTU</option>
          <option value="1211">1211: VINOD BISHOP</option>
          <option value="1221">1221: JOE GALVAN</option>
          <option value="1222">1222: RAHUL GILL</option>
          <option value="1294">1294: SALAH COOPER</option>
          <option value="1295">1295: NASEEM RANDALL</option>
          <option value="1298">1298: XIAOLIN JENNINGS</option>
          <option value="1321">1321: YUMEI TUCKER</option>
          <option value="1330">1330: ZHIGANG POPE</option>
          <option value="1349">1349: SAVITRI FARMER</option>
          <option value="1350">1350: MOHAMAD BARRERA</option>
          <option value="1354">1354: FATOUMATA BURKE</option>
          <option value="1357">1357: DENIS LARA</option>
          <option value="1385">1385: URMILA FRANCO</option>
          <option value="1393">1393: SERGIO BARNETT</option>
          <option value="1416">1416: GANGA DIAZ</option>
          <option value="1443">1443: VLADIMIR ACOSTA</option>
          <option value="1482">1482: XING HUERTA</option>
          <option value="1494">1494: MI CHERRY</option>
          <option value="1508">1508: STEFAN LONG</option>
          <option value="1530">1530: XIAOLI DILLON</option>
          <option value="1546">1546: SHEILA SCOTT</option>
          <option value="1564">1564: EMILY WALSH</option>
          <option value="1574">1574: MAKSIM VAUGHN</option>
          <option value="1577">1577: SANGITA MORGAN</option>
          <option value="1586">1586: SHILA BELTRAN</option>
          <option value="1589">1589: TRANG HOGAN</option>
          <option value="1596">1596: MERCEDES LOPEZ</option>
          <option value="1610">1610: VANESSA O'CONNOR</option>
        </select>
<!--      
          <input type="email" class="form-control mb-2" id="email" name="email" placeholder="Email to">
          <input type="text" class="form-control mb-2" id="td_client_id" name="td_client_id" placeholder="td_client_id (optional)">
          <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Your Name (optional)">
          <input type="text" class="form-control mb-2" id="member_id" name="member_id" placeholder="member_id (optional)">
-->
          <button type="button" onclick="sendIdtoTD()" class="btn btn-block btn-outline-primary rounded">Send Record</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center py-4">
        {{ site.Params.copyright | markdownify  }}
      </div>
    </div>
  </div>
</footer>

{{ with site.Params.snipcartApiKey }}
{{ "<!-- Snipcart -->" | safeHTML }}
<div id="snipcart" data-api-key="{{ . }}" hidden></div>
{{ end }}

{{ "<!-- Google Maps API -->" | safeHTML }}
<script src="{{ site.Params.gmapAPI | absURL }}"></script>
{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ with site.Params.googleAnalitycsID }}
{{ "<!-- Google Analytics -->" | safeHTML }}
<script>
(function (i, s, o, g, r, a, m) {
  i['GoogleAnalyticsObject'] = r;
  i[r] = i[r] || function () {
    (i[r].q = i[r].q || []).push(arguments)
  }, i[r].l = 1 * new Date();
  a = s.createElement(o),
    m = s.getElementsByTagName(o)[0];
  a.async = 1;
  a.src = g;
  m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
ga('create', '{{ . }}', 'auto');
ga('send', 'pageview');
</script>
{{ end }}

{{ if site.Params.rating.enable }}
{{ "<!-- Product Ratings -->" | safeHTML }}
<script>
(function (d, t, e, m) {
  // Async Rating-Widget initialization
  window.RW_Async_Init = function () {
    RW.init({
      huid: "{{ site.Params.rating.websiteID }}",
      uid: "{{ site.Params.rating.publicKey }}",
      source: "website",
      options: {
        "size": "medium",
        "style": "oxygen",
        "isDummy": false
      }
    });
    RW.render();
  };
  // Append Rating-Widget JavaScript library
  var rw, s = d.getElementsByTagName(e)[0],
    id = "rw-js",
    l = d.location,
    ck = "Y" + t.getFullYear() +
    "M" + t.getMonth() + "D" + t.getDate(),
    p = l.protocol,
    f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
    a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
  if (d.getElementById(id)) return;
  rw = d.createElement(e);
  rw.id = id;
  rw.async = true;
  rw.type = "text/javascript";
  rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
  s.parentNode.insertBefore(rw, s);
}(document, new Date(), "script", "rating-widget.com/"));
</script>
{{ end }}
