<footer class="section pb-0">
  <div class="container">
    <div class="row border-bottom pb-5 justify-content-between">
      <div class="col-12 text-center section-sm">
        <a href="{{ site.BaseURL }}"><img src="{{ site.Params.logo | absURL }}" class="img-fluid"
            alt="{{ site.Title }}"></a>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5 class="font-weight-medium mb-4">Important Links</h5>
        <ul class="list-unstyled">
          {{ range site.Menus.footer }}
          <li class="mb-3"><a class="text-color" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-md-4 col-sm-6">
        <h5 class="font-weight-medium mb-4">Connect With Us</h5>
        <ul class="list-unstyled mb-5">
          <li class="mb-3"><a class="text-color" href="tel:{{ site.Params.mobile }}"><i
                class="ti-mobile text-primary mr-2"></i>
              {{ site.Params.mobile }}</a></li>
          <li class="mb-3"><a class="text-color" href="mailto:{{ site.Params.email }}"><i
                class="ti-email text-primary mr-2"></i> {{ site.Params.email }}</a></li>
          <li class="mb-3"><i class="ti-location-pin text-primary mr-2"></i> {{ site.Params.location }}
          </li>
        </ul>
        <!-- Social Icons -->
        <ul class="list-inline">
          {{ range site.Params.social }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }} text-primary"></i></a></li>
          {{ end }}
        </ul>
      </div>      
      <div class="col-lg-4 col-md-5">
        <h5 class="font-weight-medium mb-4">Act As</h5>
        <p>Please select your memeber_id.</p>
        <form action="{{ site.Params.contact.formAction }}" method="POST" id="actas">
        <select id="member_id" class="form-control mb-2" placeholder="Please select your memeber_id.">
            <option value="8">8</option>
            <option value="17">17</option>
            <option value="29">29</option>
            <option value="49">49</option>
            <option value="59">59</option>
            <option value="67">67</option>
            <option value="98">98</option>
            <option value="117">117</option>
            <option value="126">126</option>
            <option value="131">131</option>
            <option value="135">135</option>
            <option value="151">151</option>
            <option value="160">160</option>
            <option value="169">169</option>
            <option value="182">182</option>
            <option value="223">223</option>
            <option value="248">248</option>
            <option value="254">254</option>
            <option value="256">256</option>
            <option value="257">257</option>
            <option value="260">260</option>
            <option value="307">307</option>
            <option value="389">389</option>
            <option value="395">395</option>
            <option value="421">421</option>
            <option value="432">432</option>
            <option value="470">470</option>
            <option value="524">524</option>
            <option value="529">529</option>
            <option value="543">543</option>
            <option value="548">548</option>
            <option value="553">553</option>
            <option value="562">562</option>
            <option value="624">624</option>
            <option value="648">648</option>
            <option value="675">675</option>
            <option value="678">678</option>
            <option value="686">686</option>
            <option value="694">694</option>
            <option value="705">705</option>
            <option value="715">715</option>
            <option value="734">734</option>
            <option value="735">735</option>
            <option value="749">749</option>
            <option value="760">760</option>
            <option value="774">774</option>
            <option value="782">782</option>
            <option value="784">784</option>
            <option value="798">798</option>
            <option value="816">816</option>
            <option value="842">842</option>
            <option value="851">851</option>
            <option value="869">869</option>
            <option value="879">879</option>
            <option value="889">889</option>
            <option value="1084">1084</option>
            <option value="1095">1095</option>
            <option value="1111">1111</option>
            <option value="1121">1121</option>
            <option value="1138">1138</option>
            <option value="1141">1141</option>
            <option value="1174">1174</option>
            <option value="1188">1188</option>
            <option value="1198">1198</option>
            <option value="1210">1210</option>
            <option value="1211">1211</option>
            <option value="1221">1221</option>
            <option value="1222">1222</option>
            <option value="1294">1294</option>
            <option value="1295">1295</option>
            <option value="1298">1298</option>
            <option value="1321">1321</option>
            <option value="1330">1330</option>
            <option value="1349">1349</option>
            <option value="1350">1350</option>
            <option value="1354">1354</option>
            <option value="1357">1357</option>
            <option value="1385">1385</option>
            <option value="1393">1393</option>
            <option value="1416">1416</option>
            <option value="1443">1443</option>
            <option value="1482">1482</option>
            <option value="1494">1494</option>
            <option value="1508">1508</option>
            <option value="1530">1530</option>
            <option value="1546">1546</option>
            <option value="1564">1564</option>
            <option value="1574">1574</option>
            <option value="1577">1577</option>
            <option value="1586">1586</option>
            <option value="1589">1589</option>
            <option value="1596">1596</option>
            <option value="1610">1610</option>
            <option value="1614">1614</option>
            <option value="1627">1627</option>
            <option value="1630">1630</option>
            <option value="1653">1653</option>
            <option value="1662">1662</option>
            <option value="1664">1664</option>
            <option value="1669">1669</option>
            <option value="1686">1686</option>
            <option value="1687">1687</option>
            <option value="1720">1720</option>
            <option value="1764">1764</option>
            <option value="1768">1768</option>
            <option value="1771">1771</option>
            <option value="1773">1773</option>
            <option value="1777">1777</option>
            <option value="1787">1787</option>
            <option value="1810">1810</option>
            <option value="1812">1812</option>
            <option value="1815">1815</option>
            <option value="1883">1883</option>
            <option value="1885">1885</option>
            <option value="1929">1929</option>
            <option value="1952">1952</option>
            <option value="1967">1967</option>
            <option value="1976">1976</option>
            <option value="1992">1992</option>
            <option value="2005">2005</option>
            <option value="2012">2012</option>
            <option value="2049">2049</option>
            <option value="2060">2060</option>
            <option value="2069">2069</option>
            <option value="2073">2073</option>
            <option value="2086">2086</option>
            <option value="2095">2095</option>
          </select>
<!--      
          <input type="email" class="form-control mb-2" id="email" name="email" placeholder="Email to">
          <input type="text" class="form-control mb-2" id="td_client_id" name="td_client_id" placeholder="td_client_id (optional)">
          <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Your Name (optional)">
          <input type="text" class="form-control mb-2" id="member_id" name="member_id" placeholder="member_id (optional)">
-->
          <button type="button" onclick="sendIdtoTD()" class="btn btn-block btn-outline-primary rounded">Send Record</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center py-4">
        {{ site.Params.copyright | markdownify  }}
      </div>
    </div>
  </div>
</footer>

{{ with site.Params.snipcartApiKey }}
{{ "<!-- Snipcart -->" | safeHTML }}
<div id="snipcart" data-api-key="{{ . }}" hidden></div>
{{ end }}

{{ "<!-- Google Maps API -->" | safeHTML }}
<script src="{{ site.Params.gmapAPI | absURL }}"></script>
{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ with site.Params.googleAnalitycsID }}
{{ "<!-- Google Analytics -->" | safeHTML }}
<script>
(function (i, s, o, g, r, a, m) {
  i['GoogleAnalyticsObject'] = r;
  i[r] = i[r] || function () {
    (i[r].q = i[r].q || []).push(arguments)
  }, i[r].l = 1 * new Date();
  a = s.createElement(o),
    m = s.getElementsByTagName(o)[0];
  a.async = 1;
  a.src = g;
  m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
ga('create', '{{ . }}', 'auto');
ga('send', 'pageview');
</script>
{{ end }}

{{ if site.Params.rating.enable }}
{{ "<!-- Product Ratings -->" | safeHTML }}
<script>
(function (d, t, e, m) {
  // Async Rating-Widget initialization
  window.RW_Async_Init = function () {
    RW.init({
      huid: "{{ site.Params.rating.websiteID }}",
      uid: "{{ site.Params.rating.publicKey }}",
      source: "website",
      options: {
        "size": "medium",
        "style": "oxygen",
        "isDummy": false
      }
    });
    RW.render();
  };
  // Append Rating-Widget JavaScript library
  var rw, s = d.getElementsByTagName(e)[0],
    id = "rw-js",
    l = d.location,
    ck = "Y" + t.getFullYear() +
    "M" + t.getMonth() + "D" + t.getDate(),
    p = l.protocol,
    f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
    a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
  if (d.getElementById(id)) return;
  rw = d.createElement(e);
  rw.id = id;
  rw.async = true;
  rw.type = "text/javascript";
  rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
  s.parentNode.insertBefore(rw, s);
}(document, new Date(), "script", "rating-widget.com/"));
</script>
{{ end }}
